.article {
  border: 1.5px solid #FAFAFA;
  margin-top: 1.5em;
  padding-left: 1em;
  background-color: #ececec;
  border-radius: 1em;
}

.article:hover {
  background-color: #dddddd;
}

.article-title {
  font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  padding-left: 1em;
}

.article-subtitle {
  padding-left: 1em;
}

a {
  text-decoration: none;
  color: #111111;
}

.text-content{
  font-family: "Martel", Georgia, "Times New Roman", Times, serif;
  padding-top: 15px;
  padding-bottom: 30px;
  font-size: 1em;
  line-height: 1.3;
}
